<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="QA Fox project Selenium">
	
	<listeners>
		<listener class-name="Listeners.myListeners"/>
		
	</listeners>
		
  <test  name="Practice Test">
    
    
    <classes>
		     <class name="testcases.LoginTest"/>
		     <class name="testcases.SearchTest"/>
		     <class name="testcases.RegisterTest"/>
    </classes>
    
    
  </test> <!-- Test -->
</suite> <!-- Suite -->
